.ant-tabs-left > .ant-tabs-nav .ant-tabs-tab {
  padding: 0 !important;
}
.ant-tabs-left
  > .ant-tabs-content-holder
  > .ant-tabs-content
  > .ant-tabs-tabpane {
  padding: 0 !important;
}
.ant-tabs-tab {
  margin-top: 0 !important;
}
.ant-select-selector {
  height: 100% !important;
  border: none !important;
}
.ant-select-selection-item {
  line-height: 45px !important;
}
