#banners .ant-carousel .slick-dots {
  position: absolute;
  right: 0;
  bottom: 15%;
  left: 0;
  z-index: 15;
  display: flex !important;
  justify-content: center;
  margin-right: 15%;
  margin-left: 15%;
  padding-left: 0;
  list-style: none;
}
#banners .ant-carousel .slick-dots li button {
  display: block;
  width: 15px;
  height: 15px;
  padding: 0;
  color: transparent;
  font-size: 0;
  background: rgb(229 231 235);
  background-color: rgb(229 231 235);
  border: 0;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
  opacity: 0.3;
  transition: all 0.5s;
}
#banners .ant-carousel .slick-dots li.slick-active button {
  background: rgb(220 38 38);
  opacity: 1;
}

#banners .ant-carousel .anticon-left,
#banners .ant-carousel .anticon-left:focus {
  position: absolute;
  font-size: 40px;
  top: 50%;
  left: 30px;
  z-index: 2;
  color: white;
  opacity: 0.6;
}

#banners .ant-carousel .anticon-right,
#banners .ant-carousel .anticon-right:focus {
  font-size: 40px;
  position: absolute;
  right: 50px;
  top: 50%;
  z-index: 2;
  color: white;
  opacity: 0.6;
}
#banners .ant-carousel .anticon-right:hover {
  opacity: 1;
  color: white;
}
#banners .ant-carousel .anticon-left:hover {
  opacity: 1;
  color: white;
}
