@media only screen and (min-width: 0px) {
  .choose__chair__part {
    .chair {
      td {
        width: 4%;
        padding-bottom: 5px;
      }
      .vip_chair {
        width: 16px;
        height: 16px;
      }
      .normal_chair {
        width: 16px;
        height: 16px;
      }
    }
  }
}
@media only screen and (min-width: 640px) {
  .choose__chair__part {
    .chair {
      td {
        width: 4%;
        padding-bottom: 10px;
      }
      .vip_chair {
        width: 32px;
        height: 32px;
      }
      .normal_chair {
        width: 32px;
        height: 32px;
      }
    }
  }
}
#screen {
  position: relative;
  background: rgb(0, 200, 255);
  border-radius: 5px;
  filter: drop-shadow(0px 5px 10px rgba(255, 255, 255, 0.928));
  margin-right: 10px;
}
