@media only screen and (max-width: 1023.98px) {
  #movies__list {
    .container {
      max-width: 100% !important;
    }
  }
}
@media only screen and (min-width: 640px) {
  #movies__list {
    .ant-carousel .slick-dots-bottom {
      bottom: -30px;
    }
  }
}

#movies__list .ant-carousel .slick-dots li button {
  display: block;
  width: 15px;
  height: 15px;
  padding: 0;
  color: transparent;
  font-size: 0;
  background: rgb(31 41 55);
  background-color: rgb(31 41 55);
  border: 0;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
  transition: all 0.5s;
}
#movies__list .ant-carousel .slick-dots li.slick-active button {
  background: rgb(220 38 38);
  opacity: 1;
}
