@media only screen and (max-width: 639.98px) {
  .ant-card-cover {
    width: 40% !important;
  }
  .ant-card-body {
    width: 60% !important;
    padding: 0px !important;
    padding-top: 0px !important;
  }
  .ant-card-meta-detail {
    width: 100% !important;
  }
}
.ant-card-bordered {
  border: 0 !important;
}
