@tailwind base;
@tailwind components;
@tailwind utilities;

/* DEFAULT */
html {
  scroll-behavior: smooth;
}
*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.img {
  max-width: 100%;
  display: block;
  object-fit: cover;
}
a {
  text-decoration: none;
}
/* DEFAULT */

/* overite sweet_alert */
.swal-modal .swal-footer {
  display: flex;
  justify-content: center;
}
